<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Matt Ryan" />
   <link href="http://feeds.feedburner.com/mrevd" rel="alternate" title="Matt Ryan" type="application/atom+xml" />
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

   <!-- Main CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body class="mrevd">

  <header id="sidebar">
    <aside id="logo" class="clearfix">
      <div class="clearfix">
        <a href="http://mrevd.me">mrevd</a>
      </div>
    </aside>
    <ul id="user_meta">
      <li class="blog_name">
        <h1 id="blog_name">
          <a href="http://mrevd.me">mrevd</a>
        </h1>
      </li>
      <li class="author">
        <h2 id="author">
          <a href="http://mrevd.me">aka matt ryan</a>
        </h2>
      </li>
      <li class="tagline">
        <h2 id="tagline">
          "I was thinking about the Buffalo"
        </h2>
      </li>
      <li class="link website">
        <a href="http://github.com/mrevd">
          mrevd.github.com
        </a>
      </li>
      <li class="link twitter">
        <a href="http://twitter.com/mrevd">
          @mrevd
        </a>
      </li>
      <li class="link feed">
        <a href="http://mrevd.me/feed">
          feed
        </a>
      </li>
    </ul>
    <aside id="employer">
      <a href="http://sankynet.com">
        <span class="logo_square"><span class="logo_circle">&nbsp;</span></span>&nbsp;<span class="sanky">EMPLOYER</span>
      </a>
    </aside>
  </header>

  <section id="main">
    {{ content }}
  </section>

</body>
</html>
